main {
    margin: auto;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 0px;
}

app-square {
    // border: 1px solid gray;
    border-radius: 26px;
    height: 14vw;
}
h1{
    text-align: center;
}
button{ 

    display: block;
    margin: 0 auto 3% auto;
    width: 10%;
}
@media only screen and (max-width: 500px){
    button{
        width: 40%;
    }
    
}
